/* This serves as the css file for the Final */
/* Ensure that the background is the color wanted */
*{
    background-color: rgb(244, 239, 230);
}

/* Ensure that body and font is correct */
body{
    background-color: rgb(244, 239, 230);
    font-family: 'Kalam';
}

/* Design the Navigation Bar */
#nav_div {
    display: flex;
    align-items: center; /* Vertically center the navbar */
}
.navbar_option {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack the image and text vertically */
    align-items: center; /* Center items horizontally */
    padding-right: 12px;
}

.navbar_img {
    margin-bottom: 5px; /* Add some spacing between the image and text */
}
.logo_option {
    position: absolute; /* Position the logo absolutely */
    top: 50%; /* Align to the vertical center */
    right: 10px; /* Adjust the distance from the right edge */
    transform: translateY(-50%); /* Correct vertical positioning */
}
.horizontal-line {
    border-top: 1px solid black;
    margin: 10px 0;
}

/* Homepage CSS */
#homepage_title{ 
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 35px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: black;
}
#homepage_information_div_1{
    margin-top: 45px;
    margin-bottom: 45px;
}
#homepage_option_title_1{ 
    margin-top: 25px;
    font-size: 20px;
    color: black;
    text-align: center;
}
#homepage_option_img_1{
    display: block;
    margin: 0 auto;
}
.navbar-brand {
    color: black;
}
#homepage_quote_1{ 
    margin-top: 45px;
    font-size: 15px;
    display: flex;
    justify-content: left; 
    align-items: left; 
    color: rgb(170, 170, 170);
}
#homepage_quote_2{ 
    font-size: 15px;
    display: flex;
    justify-content: right; 
    align-items: right; 
    color: rgb(170, 170, 170);
}

/* Quizpage CSS */
#quizpage_title{ 
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 35px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: black;
}
#quizpage_title_2{ 
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: black;
}
#quizpage_description_1{ 
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 20px;
    display: flex;
    justify-content: left; 
    align-items: left; 
    color: black;
}
.quizpage_img_1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#quizpage_startbutton_1{ 
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
#quizpage_question_1{
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: black;
}
#quizpage_answer_1{
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 17px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: black;
}
#horizontal-line-quiz{
    border-top: 1px solid black; 
    margin-top: 50px;  
    margin-bottom: 30px;  
}
#quizcomplete_description_1{
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: black;
}
#quizcomplete_buttons_div{
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 25px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: black;
}
#quizcomplete_button_a{
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 45px;
    margin-left: 45px;
}
.answer-btn{
    width: 300px;
}
#answer-div{
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
#final-div{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.nav_btn{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
}
a.btn.selected-correct {
    background-color: green; 
    color: #fff; 
}
a.btn.selected-incorrect {
    background-color: red; 
    color: #fff; 
}


.items-menu{
    margin-top: 230px;
    margin-bottom: 0px;
    font-size: 35px;
    justify-content: center; 
    align-items: center; 
    color:  rgb(161, 161, 161);
    border: 1px rgb(161, 161, 161);
    padding: 0px;
}

.active {
    background-color: #6a94c8;  
}

.category{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: 0px;
    font-size: 25px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: rgb(115, 115, 115);
    border: 1px solid rgb(161, 161, 161);
    cursor: pointer; /* Changes the cursor to a hand icon when hovering over the div */
}

.category:hover {
    background-color: #6a94c8; /* Change to the color you want on hover */
}

.notepad {
    position: absolute;
    top: 100px;
    right: 1130px;
    width: 150px;
    height: auto;
}

.notepad-two{
    position: relative;
}

.notepad img {
    width: 100%;
    height: auto;
}

.notepad .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;  
    font-size: 25px;  
    background-color: #fff;  
}

.trashcan {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trashcan img {
    width: 100px;
    height: auto;
}

.the-bottom-of-bartender{
    display:flex;
}

.coaster{
    margin-top: -35px;
    padding-right: 80px;
    padding-left: 50px;
}

.coaster-two{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: -10px;
    margin-bottom: -30px;
}

.text-coaster{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.coaster img{
    width: 170px;
    height: auto;
}

.serving-button {
    background-color: transparent;  /* Light green */
    border: 2px solid #008000;  /* Green border */
    color: #008000;  /* Green text */
}

.serving-button:active, .serving-button:hover {
    background-color: #008000;  /* Green background */
    color: white;  /* White text */
}

.shaker{    
    margin-top: -100px;
    padding-top: 0px;
}

.shaker-two{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shaker img{
    width: 200px;
    height: auto;
    margin-top: -5px;
    padding-top: -10px;
}

.button-container-shaker{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mix-button{
    margin-right: 10px;
}

.shake-button{
    margin-left: 10px;
}


.bar-item-wrapper{
    position: absolute;
    top: 340px;
    right: 90px;
    font-size: 25px;
}

.bar-item-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: rgb(161, 161, 161);
}

.bar-items{
    border: 2px solid rgb(161, 161, 161);
}

.row1-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 170px;
    height: 170px;
    border: 2px solid rgb(161, 161, 161);;
}

.button-container-two{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.score-title{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.score-display{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 25px;
}

#clock {
    position: absolute;
    top: 150px;
    right: 200px;
    width: 150px;
    font-size: 2em;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-with-caption::after {
    content: attr(title);
    display: block;
    text-align: center;
}

.feedback-title{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    color: rgba(110, 105, 105, 0.706);  /* Fully opaque light grey */
}

.feedback{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    font-size: 16px;
}

ul li {
    color: rgba(159, 159, 159, 0.981);  /* Grey text */
}

.image-martini{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-martini img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 300px;
    height: auto;
}


.button-holders-butthole{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
}

#butth-1, #butth-2 {
    margin-right: 40px;
    margin-left: 40px;
    padding: 10px 20px;  /* Increase the size of the buttons */
    font-size: 20px;  /* Increase the size of the text */
    border: 2px solid rgb(77, 162, 54);  /* Initial border color */
    color:rgb(77, 162, 54);  /* Initial text color */
    transition: all 0.3s ease;  /* Smooth transition */
}

#butth1-button:active, #butth-1:hover {
    background-color: #008000;  /* Green background */
    color: white;  /* White text */
}

#butth2-button:active, #butth-2:hover {
    background-color: #008000;  /* Green background */
    color: white;  /* White text */
}
