.instruction-box {
    border: 2px solid #ccc;
    /* Border for the box */
    padding: 20px;
    /* Padding to create space between text and border */
    text-align: center;
    /* Center-align the text content */
    margin: 20px auto;
    /* Center the box horizontally */
}

.instruction-box button {
    margin-top: 10px;
    /* Add space between the box and the buttons */
}

.click-me {
    border: 3px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    /* Adds a red shadow */
    transform: scale(1.05);
    /* Slightly increases the size */
    transition: all 0.3s ease;
    /* Adds smooth transition effect */
}

@keyframes shake {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.shake {
    animation: spin 3s linear infinite;
    /* Spin for 3 seconds infinitely */
    animation-delay: 5s;
    /* Delay the start of the animation by 5 seconds */
}


.notepad {
    position: absolute;
    top: 130px;
    right: 180px;
    width: 150px;
    height: auto;
}

.notepad-two {
    position: relative;
}

.notepad img {
    width: 100%;
    height: auto;
}


.shaker {
    margin-top: -100px;
    padding-top: 0px;
}

.shaker-two {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shaker img {
    width: 200px;
    height: auto;
    margin-top: -5px;
    padding-top: -10px;
}

.button-container-shaker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mix-button {
    margin-right: 10px;
}

.shake-button {
    margin-left: 10px;
}