<!-- This serves as the layout.html for this our Final Project -->
<!-- Was heavy influenced by the layout.html for the midterm -->
<!doctype html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">

        <!-- jquery -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

        <!-- Font for website-->
        <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">

    </head>
    <body>
        <!-- This is the Navbar -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div id='nav_div'>
                    <div class="navbar_option">
                        <a href="/"> 
                            <img class="navbar_img" src="https://cdn0.iconfinder.com/data/icons/set-app-incredibles/24/Home-01-256.png" alt="Homepage Image" width="40">
                        </a>
                        <a class="navbar-brand" href="/">Home</a>
                    </div>  
                    <div class="navbar_option">
                        <a href="/drinks"> 
                            <img class="navbar_img" src="https://cdn3.iconfinder.com/data/icons/font-awesome-solid/576/martini-glass-citrus-256.png" alt="Drinkspage Image" width="40">
                        </a>
                        <a class="navbar-brand" href="/drinks">Drinks</a>
                    </div>  
                    <div class="navbar_option">
                        <a href="/quiz"> 
                            <img class="navbar_img" src="https://cdn3.iconfinder.com/data/icons/teenyicons-outline-vol-1/15/certificate-256.png" alt="Quizpage Image" width="40">
                        </a>
                        <a class="navbar-brand" href="/quiz">Quiz</a>
                    </div>  
                    <div class="navbar_option">
                        <a href="/bartender"> 
                            <img class="navbar_img" src="https://cdn-icons-png.flaticon.com/512/2445/2445561.png" alt="Bartenderpage Image" width="40">
                        </a>
                        <a class="navbar-brand" href="/bartender">Bartender</a>
                    </div> 
                </div>
                <div class="logo_option">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="130" height="85">
                </div>
            </nav>
            <!-- Horizontal Line -->
            <div class="horizontal-line"></div>
        </div>

        <!-- This is the section that we will add to with every page -->
        <div class="container">   
            {% block content %}
            {% endblock %}
        </div>


        <!-- Link to the js file -->
        <script type="text/javascript" src="{{ url_for('static', filename = 'bar.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
