{% extends "layout.html" %}

{% block content %}

<!-- Main title -->
<div id='homepage_title' class="container">
    Mastering the Martini...
</div>

<!-- Selection for choices -->
<div id="homepage_information_div_1">
    <div class="row">
        <!-- Study -->
        <div class="col-md-6 col-sm-6">
            <div id="homepage_option_title_1">
                <a href="/espresso_martini">
                    <img class="resized-image" id="homepage_option_img_1" src="static/images/espresso.png"
                        alt="espresso martini">
                </a>
                <a class="navbar-brand" href="/espresso_martini">Espresso Martini</a>
            </div>
        </div>
        <!-- Quiz -->
        <div class="col-md-6 col-sm-6">
            <div id="homepage_option_title_1">
                <a href="/classic_martini">
                    <img class="resized-image" id="homepage_option_img_1" src="static/images/classic.png"
                        alt="classic martini">
                </a>
                <a class="navbar-brand" href="/classic_martini">Classic Martini</a>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Bartender -->
        <div class="col-md-6 col-sm-6">
            <div id="homepage_option_title_1">
                <a href="/peach_bellini">
                    <img class="resized-image" id="homepage_option_img_1" src="static/images/peach.png"
                        alt="peach bellini">
                </a>
                <a class="navbar-brand" href="/peach_bellini">Peach Bellini</a>
            </div>
        </div>
        <!-- Fourth Option -->
        <div class="col-md-6 col-sm-6">
            <div id="homepage_option_title_1">
                <a href="/french_martini">
                    <img class="resized-image" id="homepage_option_img_1" src="static/images/french.png"
                        alt="french martini">
                </a>
                <a class="navbar-brand" href="/french_martini">French Martini</a>
            </div>
        </div>
    </div>
</div>

<!-- Horizontal Line -->
<div class="horizontal-line"></div>

<!-- Final Quote -->
<div id='homepage_quote_1' class="container">
    "The three-martini lunch is the epitome of American efficiency. Where else can you get an earful , a bellyful , and
    a snootful at the same time?”
</div>
<div id='homepage_quote_2' class="container">
    - Gerald Ford (former President of the United States)
</div>
{% endblock %}