{% extends "layout.html" %}

{% block content %}

<!-- Main title -->
<div id='quizpage_title' class="container">
    Congrats ... 
</div>

<!-- Description -->
<div id='quizcomplete_description_1' class="container">
    Good job! You have now completed the lesson. You are pretty much a bartender now! 
</div>

<!-- Buttons to repeat or go next -->
<div id="quizcomplete_buttons_div" class="container">
    <a id="quizcomplete_button_a" class='btn btn-outline-success btn-lg' href='/quiz' role='button'>Repeat Quiz</a>
    <a id="quizcomplete_button_a" class='btn btn-outline-success btn-lg' href='/bartender' role='button'>Bar Simulator</a>
</div>

{% endblock %}
