{% extends "layout.html" %}

{% block content %}

<!-- Main title -->
<div id='quizpage_title' class="container">
    Congrats...You've completed the Quiz!
</div>

<!-- Description and Image -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6"> 
            <!-- Image -->
            <div class="quizpage_img_1">
                <img src="https://cdn-icons-png.flaticon.com/512/1138/1138101.png" alt="QuizComplete Image" width="256">
            </div>
        </div>
        <div class="col-md-6 col-sm-6"> 
            <!-- Description -->
            <div id='quizcomplete_description_1' class="container">
                Good job! You have now completed the Quiz. You are pretty much a bartender now! 
            </div> 
            <div id='quizcomplete_description_1' class="container">
                To polish up your recipes press "Repeat Quiz". To test your cocktail making skills, press "Bar Simulator".
            </div>
        </div>
    </div>
</div>

<!-- Buttons to repeat or go next -->
<div id="quizcomplete_buttons_div" class="container">
    <a id="quizcomplete_button_a" class='btn btn-outline-success btn-lg' href='/quiz' role='button'>Repeat Quiz</a>
    <a id="quizcomplete_button_a" class='btn btn-outline-success btn-lg' href='/bartendhome' role='button'>Bar Simulator</a>
</div>

<!-- Horizontal Line -->
<div class="horizontal-line"></div>

<!-- Final Quote -->
<div id='homepage_quote_1' class="container">
    "In wine there is wisdom, in beer there is Freedom, in water there is bacteria.”
</div>
<div id='homepage_quote_2' class="container">
    -Benjamin Franklin
</div>

{% endblock %}
