{% extends "layout.html" %}

{% block content %}

<!-- Main title -->
<div id='quizpage_title' class="container">
    The Drink Quiz
</div>

<!-- Description -->
<div id='quizpage_description_1' class="container">
    This is the best opportunity to test your knowledge on the recipes for drinks! Begin the quiz, only when you are ready! 
</div>

<!-- Start Quiz Botton -->
<div id='quizpage_startbutton_1' class ='container'>
    <a class="btn btn-outline-secondary btn-lg" href="quizquestion/1" role="button">Begin Quiz</a>
</div>

{% endblock %}
